<h1>Task Details</h1>
<!--
  To enable debugging in the view section
  <%# console %>
-->
<p>Title : <%= @task.title %></p>
<p>Description : <%= @task.description %></p>


<ul>
  <li><%= link_to "Edit", edit_task_path(@task) %></li>
    <li><%= link_to "Destroy", task_path(@task), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Projects Index", root_path %></li>
</ul>

<hr />

<h2>Board, Project Details</h2>
<p><strong>Board :</strong> <%= link_to @task.board.title, @board %></p>
<p><strong>Project :</strong> <%= link_to @task.board.project.title, @project %>

<hr />
