<h1>Edit Board</h1>


<%= form_with model: @board do |form| %>
 <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end %>